.contact-container {
    color: #ffffff;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

/* Header section */
.contact-header-container {
    background: linear-gradient(135deg, #0e1d34, #1e3c72, #301860); /* Gradient color */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.contact-header {
    display: flex;
    justify-content: center; /* Center the content */
    align-items: center;
    width: 100%;
    max-width: 100%; /* Ensure max-width is 100% */
}

.header-content {
    text-align: left;
    margin-right: 1rem; /* Add margin to the right */
}

.contact-header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #00aaff;
}

.contact-header p {
    font-size: 1.2rem;
    color: #cccccc;
}

/* Contact section */
.contact-section {
    padding: 2rem;
    background: #0e1129; /* Different background color */
    flex: 1;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info {
    margin-bottom: 2rem;
}

.contact-info h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.contact-info p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: #cccccc;
}

.contact-form {
    background: #0e1129;
    padding: 2rem;
    border-radius: 0.625rem;
    width: 90%;
    max-width: 31.25rem;
    text-align: left;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 170, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form content */
}

.contact-form h2 {
    margin-bottom: 1rem;
    color: #00aaff;
    text-align: center; /* Center the heading */
}

.contact-form p {
    text-align: center; /* Center the paragraph */
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid #cccccc;
    border-radius: 0.3125rem;
    font-size: 1rem;
    background: #121212;
    color: #ffffff;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #00aaff;
    outline: none;
    box-shadow: 0 0 0.3125rem rgba(0, 170, 255, 0.5);
}

.contact-form textarea {
    resize: none; /* Disable resizing */
    height: 9.375rem; /* Fixed height */
    min-height: 9.375rem; /* Ensure min-height is the same */
    max-height: 9.375rem; /* Ensure max-height is the same */
}

.send-button {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #ffffff;
    background: #00aaff;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
    margin-top: 1rem;
}

.send-button:hover {
    background: #0077cc;
}

.globe-container {
    width: 100%;
    max-width: 15.625rem;
    height: auto; /* Maintain aspect ratio */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .contact-header-container {
        padding: 1rem;
        
    }

    .contact-header h1 {
        font-size: 2rem;
    }

    .contact-header p {
        font-size: 1rem;
    }

    .contact-section {
        padding: 1rem;
    }

    .contact-info h1 {
        font-size: 2rem;
    }

    .contact-info p {
        font-size: 1rem;
    }

    .contact-form {
        padding: 1.5rem;
    }

    .contact-form h2 {
        font-size: 1.5rem;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 0.75rem;
    }

    .send-button {
        padding: 0.75rem;
    }

    .globe-container {
        max-width: 12.5rem;
    }
}

@media (max-width: 480px) {
  
    .contact-header-container {
        padding: 1rem;

    }

    .contact-header h1 {
        font-size: 1.5rem;
        margin-top: 2rem;

    }

    .contact-header p {
        font-size: 0.9rem;
    }

    .contact-section {
        padding: 0.5rem;
    }

    .contact-info h1 {
        font-size: 1.5rem;
    }

    .contact-info p {
        font-size: 0.9rem;
    }

    .contact-form {
        padding: 1rem;
    }

    .contact-form h2 {
        font-size: 1.2rem;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    .send-button {
        padding: 0.75rem;
        font-size: 0.9rem;
    }

    .globe-container {
        max-width: 9.375rem;
    }
}
