/* src/Styles/Css/NavBarStyle.css */

nav {
    font-weight: bold;
    color: white;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease; /* Smooth transition */
}

nav.scrolled {
    background: rgba(0, 0, 0, 0.2); /* Background when scrolled */
    backdrop-filter: blur(10px); /* Blur effect */
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 1rem;
}

a {
    color: #d73232;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    transition: color 0.3s ease;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #f06;
    transition: width 0.4s ease;
}

a:hover {
    color: #f06;
}

a:hover:after {
    width: 100%;
    left: 0;
    background: #f06;
}
