.portfolio-container {
    color: #ffffff;
    min-height: 100vh;
    text-align: center;
}

/* Header section */
.portfolio-header-container {
    background: linear-gradient(135deg, #0e1d34, #1e3c72, #301860); /* Gradient color */
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.portfolio-header {
    margin: 0;
}

.portfolio-header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #00aaff;
}

.portfolio-header p {
    font-size: 1.2rem;
    color: #cccccc;
}

/* Portfolio section */
.portfolio-section {
    padding: 2rem;
    background: #0e1129; /* Different background color */
    min-height: 50vh;
    text-align: center;
}

.portfolio-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.portfolio-filter {
    margin-bottom: 2rem;
    font-size: 1rem;
}

.portfolio-filter a {
    margin: 0 1rem;
    color: #00aaff;
    text-decoration: none;
    transition: color 0.3s;
}

.portfolio-filter a:hover {
    color: #0077cc;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ensures three columns */
    gap: 0.5rem; /* Reduced gap to bring items closer */
    justify-content: center; /* Center the grid items */
    max-width: 800px; /* Set a maximum width for the grid */
    margin: 0 auto; /* Center the grid container */
}

.portfolio-item {
    background: transparent; /* Make background transparent */
    padding: 0;
    border-radius: 10px;
    box-shadow: none; /* Remove box shadow */
    transition: transform 0.3s ease;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    max-width: 200px; /* Reduced max width */
    max-height: 200px; /* Reduced max height */
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    margin: 0 auto; /* Center align */
}

.portfolio-item:hover img {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 170, 255, 0.8);
}

.see-more-button {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #ffffff;
    background: #00aaff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 170, 255, 0.5);
    text-decoration: none;
    display: inline-block;
    margin-top: 2rem;
}

.see-more-button:hover {
    background: #0077cc;
    box-shadow: 0 6px 15px rgba(0, 119, 204, 0.6);
}
